<!DOCTYPE html>
<html>
<head>
  <title><%= Whitelabel.label.some_config %></title>
  <%= stylesheet_link_tag    current_tenant.subdomain + '_application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
